.scene {
    width: 100%;
    height: 100vh;
    max-height: 773px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;

    &.loaded {
        opacity: 0.6
    }

    @media (--sm) {
        &.loaded {
            opacity: 0.4
        }
    }
}